<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>   Risala Funeral Cover</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://noblestrides.co.ke/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://noblestrides.co.ke/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://noblestrides.co.ke/pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="https://noblestrides.co.ke/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="https://noblestrides.co.ke/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://noblestrides.co.ke/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="https://noblestrides.co.ke/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://noblestrides.co.ke/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://noblestrides.co.ke/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://noblestrides.co.ke/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="https://noblestrides.co.ke/pages/css/pages.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        window.onload = function () {
            // fix for windows 8
            if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
                document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="https://noblestrides.co.ke/pages/css/windows.chrome.fix.css" />'
        }
    </script>

</head>
<body class="fixed-header ">

    <header class="header bg-header navbar" data-pages="header" data-pages-header="auto-resize" data-pages-resize-class="dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-light">
            <div class="navbar-nav-scroll">
                <div class="text-center">
                    <div class="header-inner">
                        <ul class="navbar-nav  flex-row menu bold">
                            <li class="nav-item">
                                <a class="nav-link " href="#top">The Product</a>
                            </li>
                            <li class="nav-item m-l-10">
                                <a class="nav-link active" href="#deal">The Deal</a>
                            </li>
                            <li class="nav-item m-l-10">
                                <a class="nav-link " href="#scope">Scope of Cover</a>
                            </li>
                            <li class="nav-item m-l-10">
                                <a class="nav-link" href="#faqs">FAQs</a>
                            </li>
                            <li class="nav-item m-l-10">
                                <a class="nav-link" href="https://noblestrides.co.ke/register" rel="noopener">Get Started</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container full-height m-t-40 sm-p-t-30">
        <div class="container-sm-height full-height ">
            <section id="top" class="bg-master-lightest m-t-40 p-b-85 p-t-75 main">
                <div class="container">
                    <div class="md-p-l-20 md-p-r-20 xs-no-padding m-t-35">

                        <div class="row">

                            <div class="col-sm-5 col-md-6 no-padding xs-p-l-15 xs-p-r-15">
                                <div class="p-t-20 p-l-35 md-p-l-5 md-p-t-15">
                                    <h1 class="m-t-30 m-b-0 bold" style="color:#f7931d;">BE PRESENT </h1>
                                    <h2 class="no-margin semi-bold" style="color:#442060;">When They Need You The Most </h2>
                                    <p class="m-t-30">
                                        When death of a loved one occurs in the family it comes
                                        weighs heavy on everyone.
                                        Risala last expense cover will provide financial relief in
                                        the time of loss which helps families deal with grief rather
                                        than worry about funeral expenses.
                                    </p>
                                    <p>
                                        We will provide a lump sum of cash required within 48
                                        hours of approval of claim to offset the bills.
                                    </p>
                                    <h3 class="m-t-10 m-b-0 semi-bold" style="color:#442060;">UP TO <span class="bold" style="color:#f7931d;">10</span> Family Members Covered </h3>
                                    <h6 class="semi-bold m-t-5" style="color:#442060;">Here and Back At Home </h6>
                                    <p>
                                        Includes principal, spouse, max of
                                        four children, parents and parents in
                                        law below 75 years
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <a href="https://noblestrides.co.ke/register">
                                    <img src="https://noblestrides.co.ke/images/splash.jpg" class="img-responsive m-t-20" style="max-width: 400px" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="deal" class="bg-master-lightest p-b-85 p-t-75 no-overflow main">
                <div class="container">
                    <div class="md-p-l-20 md-p-r-20 xs-no-padding">

                        <div class="row">
                            <div class="col-sm-8 xs-p-l-15 xs-p-r-15 m-l-20">
                                <h1 class="m-t-20 m-b-0 bold" style="color:#f7931d;">THE DEAL</h1>
                                <h2 class="no-margin semi-bold" style="color:#442060;">What the Package Covers </h2>
                                <p class="m-t-30">
                                    CIC Group funeral plan provides for the payment of a fixed
                                    amount upon the demise of any declared member to cater
                                    for the costs of arranging the funeral for the following
                                    members:
                                </p>
                                <ol>
                                    <li>Principal member</li>
                                    <li>Spouse of the member</li>
                                    <li>Children of the member (Max. 4)</li>
                                    <li>Parents of the member (Max.2)</li>
                                    <li>Parents in-law of the member (Max.2)</li>
                                </ol>

                                <div class="table-responsive">
                                    <table class="table table-condensed table-striped">
                                        <thead>
                                            <tr>
                                                <th>Members</th>
                                                <th>Option 1</th>
                                                <th>Option 2</th>
                                                <th>Option 3</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="4" class="text-center">SUM ASSURED PER PERSON</td>
                                            </tr>
                                            <tr>
                                                <td>Principal</td>
                                                <td>400,000</td>
                                                <td>500,000</td>
                                                <td>1,000.000</td>
                                            </tr>
                                            <tr>
                                                <td>Spouse</td>
                                                <td>400,000</td>
                                                <td>500,000</td>
                                                <td>1,000.000</td>
                                            </tr>
                                            <tr>
                                                <td>Children (Max 4)</td>
                                                <td>100,000</td>
                                                <td>100,000</td>
                                                <td>100,000</td>
                                            </tr>
                                            <tr>
                                                <td>Parents (Max 2)</td>
                                                <td>400,000</td>
                                                <td>500,000</td>
                                                <td>1,000.000</td>
                                            </tr>
                                            <tr>
                                                <td>Parents In Law (Max 2)</td>
                                                <td>400,000</td>
                                                <td>500,000</td>
                                                <td>1,000.000</td>
                                            </tr>
                                            <tr class="bold">
                                                <td>Total Premium Per Family</td>
                                                <td>9,600</td>
                                                <td>12,000</td>
                                                <td>26,500</td>
                                            </tr>
                                            <tr>
                                                <td>Additional Child</td>
                                                <td>300</td>
                                                <td>300</td>
                                                <td>300</td>
                                            </tr>
                                            <tr>
                                                <td>Additional Member<br><span class="small-text">Other than Child</span> </td>
                                                <td>3,200</td>
                                                <td>5,000</td>
                                                <td>8,000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="scope" class="bg-master-lightest p-b-85 p-t-75 no-overflow">
                <div class="container">
                    <div class="md-p-l-20 md-p-r-20 xs-no-padding">

                        <div class="row">
                            <div class="col-sm-8 xs-p-l-15 xs-p-r-15 m-l-20">
                                <h1 class="m-t-20 m-b-0 bold" style="color:#f7931d;">SCOPE OF THE COVER</h1>
                                <h2 class="no-margin semi-bold" style="color:#442060;">The Finer Details</h2>
                                <ol>
                                    <li>
                                        Funeral Expense (FE): this benefit becomes payable to the family of
                                        the deceased within 48 hours of receipt of notification of death
                                        within the cover period.
                                    </li>
                                    <li>
                                        No exclusion on HIV/AIDS, passive war, terrorism, Invasion, Act of
                                        Foreign Enemy, Hostility or Warlike operation, Civil War, Rebellion,
                                        Revolution, Insurrection, Military or usurped power or popular
                                        rising martial law, strike, riot, civil commotion or mutiny
                                    </li>
                                    <li>
                                        Cover is on 24-hour worldwide basis meaning that the members
                                        are covered while in the country of residence or while on travel
                                        abroad
                                    </li>
                                    <li>
                                        The eligibility of members is as follows:
                                        a) Main member/Spouse - Minimum entry age is 18 years and
                                        maximum entry age is 75 years.
                                        b) Children - Minimum entry age of 1 month and maximum entry
                                        age of 25 years for school going Children with proof.
                                        c) Parents/parents in Law - Maximum entry age of 75 years.
                                        Members shall be covered up to a maximum age of 90 years
                                    </li>
                                    <li>
                                        Waiting period for natural death is 30 days. Accidental death is
                                        covered immediately from commencement of cover
                                    </li>
                                    <li>
                                        Claims to be paid for the first 5 deaths or a maximum amount of:
                                        Ksh. 700,000 per family in case of a catastrophic death – Option 1 &2
                                        Ksh. 3,000,000 per family in case of a catastrophic death – Option 3
                                    </li>
                                    <li>
                                        Spouses automatically become the principal members upon
                                        demise of the principal member.
                                    </li>
                                </ol>

                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section id="faqs" class="bg-master-lightest p-b-85 p-t-75 no-overflow">

                <div class="container">
                    <div class="md-p-l-20 md-p-r-20 xs-no-padding">

                        <div class="row">
                            <div class="col-sm-8 xs-p-l-15 xs-p-r-15 m-l-20">
                                <h3 class="m-t-10 m-b-0 semi-bold" style="color:#442060;">FAQs </h3>
                                <h6 class="semi-bold m-t-5 m-b-20" style="color:#442060;">Frequently Asked Questions </h6>
                                <p>Q. What documents do you require for policy sign-up</p>
                                <ol>
                                    <li>Names of all members and dependants</li>
                                    <li>Copies of IDs for adults and birth certificates for children</li>
                                </ol>
                                <p>Q. What documents do you require for policy claim</p>
                                <ol>
                                    <li>Original burial permit</li>
                                    <li>Copy of deceased member's ID</li>
                                    <li>Copy of birth certificate for children</li>
                                    <li>Police abstract in case of unnatural death e.g. Accident</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>

            </section>


            <div class="row m-t-30 m-b-50 border-t-1 border-1 align-items-center">
                <div class="col-lg-12" style="border-bottom: 1px solid #aaaaaa"></div>
                <div class="col-lg-3">
                    <p>For more details:</p>
                    <i class="fa fa-phone"></i> +254 706 512 891<br />
                    <i class="fa fa-envelope"></i> Risala@noblestrides.co.ke
                </div>
                <div class="col-lg-3 text-center">
                    <img src="https://noblestrides.co.ke/images/logo.jpg" width="50%" class="img-responsive">
                </div>
                <div class="col-lg-3 text-center">
                    <img src="https://noblestrides.co.ke/images/noblestrides.jpg" width="50%" class="img-responsive">
                </div>
                <div class="col-lg-3 text-center">
                    <img src="https://noblestrides.co.ke/images/cic.jpg" width="50%" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class=" full-width">
        <div class="register-container m-b-15 clearfix">
            <div class="inline pull-left">
                <img src="https://noblestrides.co.ke/images/logo_inverse.png" alt="" class="m-t-25" data-src="https://noblestrides.co.ke/images/logo_inverse.png" data-src-retina="https://noblestrides.co.ke/images/logo_inverse.png" width="60" height="10">
            </div>
            <div class="col-md-10 m-t-15">
                <p class="hinted-text small inline ">
                    <!--
                    No part of this website or any of its contents may be reproduced, copied,
                    modified or adapted, without the prior written consent of the author, unless
                    otherwise indicated for stand-alone materials.
                    -->
                </p>
            </div>
        </div>
    </div>
    <!-- BEGIN VENDOR JS -->
    <script src="https://noblestrides.co.ke/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://noblestrides.co.ke/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="https://noblestrides.co.ke/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://noblestrides.co.ke/assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
    <script src="https://noblestrides.co.ke/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://noblestrides.co.ke/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="https://noblestrides.co.ke/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="https://noblestrides.co.ke/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="https://noblestrides.co.ke/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="https://noblestrides.co.ke/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="https://noblestrides.co.ke/assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="https://noblestrides.co.ke/assets/plugins/classie/classie.js"></script>
    <script src="https://noblestrides.co.ke/assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <script src="https://noblestrides.co.ke/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <!-- END VENDOR JS -->
    <script src="https://noblestrides.co.ke/pages/js/pages.min.js"></script>
    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links
            $("a").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top - 100
                    }, 800, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        });
    </script>

</body>
</html>
