@using Kendo.Mvc.UI;
@model CoopSystemWebApp.Models.UserModel
@{
    ViewBag.Title = "Users";
}


<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <h3>Users</h3>
            <div class="row input-gap-bottom">
                <div class="col-md-2 col-sm-2">
                    @Html.Kendo().Button().Name("btnAddUser").Content("Add").Events(e => e.Click("onClick_CreateUser")).HtmlAttributes(new { @class = "k-primary k-primary pull-right", type = "button", @style = "width: 100%" })
                </div>
                <div class="col-md-2 col-sm-2"></div>
                <div class="col-md-2 col-sm-2"></div>
            </div>

            <div>

                @(Html.Kendo().Grid<CoopSystemWebApp.Models.UserModel>()
                        .Name("UserGrid")
                        .Columns(c =>
                        {
                            c.Bound(m => m.UserMemberId).Hidden(true);
                            c.Bound(m => m.UserStatusesId).Hidden(true);
                            c.Bound(m => m.UserId).Hidden(true);
                            c.Bound(m => m.RolesId).Hidden(true);
                            c.Bound(m => m.FullName).Title("Name");
                            c.Bound(m => m.Username).Title("Username");
                            c.Bound(m => m.RoleDescription).Title("Role");
                            c.Bound(m => m.StatusDescription).Title("Status");                            
                            c.Command(command =>
                            {
                                command.Custom("Edit").Click("onClick_EditUser").Text(" ").HtmlAttributes(new { @title = "Modify user" });
                                //command.Custom("Sales").Click("onClick_CreateTransaction").Text(" ").HtmlAttributes(new { @title = "Pay" });
                            });

                        })
                        .Pageable(pageable => pageable.ButtonCount(5))
                        .Sortable(sortable => sortable
                        .AllowUnsort(true)
                        .SortMode(GridSortMode.MultipleColumn))
                        .DataSource(ds => ds
                            .Ajax()
                            .PageSize(10)
                            .ServerOperation(false)
                            .Model(m => m.Id(p => p.UserMemberId))
                            .Read(r => r.Action("GetUserList", "User"))
                        )
                    .Events(e => e.DataBound("onRowBound_GridPanel_Icons"))
                )

            </div>


        </div>
    </div>
</div>

<script>


    function onClick_DeleteGroup(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#window_Record").data("kendoWindow");
        //var window_processing = $("#window_processing").data("kendoWindow");
        $("#window_Record h4").html("Are you sure you want to delete this record?");
        wnd.center().open();
        e.preventDefault();
        var values = {
            Id: dataItem.Group_Id
        };

        $("#window_Record > div > div > #Yes").click(function () {
            wnd.close();
            $.ajax({
                dataType: "html",
                type: "POST",
                url: "@(Url.Action("RemoveGroup", "Group"))",
                data: values,
                success: function (result) {
                    var grid = $("#GridGroup").data("kendoGrid");
                    grid.dataSource.read();
                }
            });

        });

        $("#window_Record > div > div > #No").click(function () {
            wnd.close();
        });
    };




</script>

